---
// The articles (from the "blog" collection) rendered

import Default from "../../components/Default.astro";
import { Image } from "astro:assets";

import type { Tag } from "../../content/config";
import {
  getBlogEntries,
  blogEntryTransitionName,
  blogEntryName,
  blogEntryPath,
} from "../../blog";
import { topics } from "../../content/config";

// Generate a new path for each article
export async function getStaticPaths() {
  const entries = await getBlogEntries();
  return entries.map((entry) => {
    return {
      params: { slug: blogEntryName(entry) },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// Returns the date as "January 9, 2012", to be shown in articles
const prettyDate = (d: Date) => {
  return d.toLocaleString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};

const tags: Tag[] = entry.data.tags?.slice(0, 2) ?? [];

const discussion: string | undefined = entry.data.discussion;

// Some machinery to suggest similar articles (by topics)
const suggestedTopics = tags?.map((tag) => topics[tag]).join(" and ");

const allEntries = await getBlogEntries();

const similarEntries = allEntries.filter(
  (e) =>
    e.data.pubDate.getTime() < entry.data.pubDate.getTime() &&
    tags.some((t) => e.data.tags?.includes(t)),
);

const suggestedEntries = similarEntries.slice(0, 2);
---

<Default
  title={entry.data.title}
  description={entry.data.description}
  ogType="article"
  og_image={entry.data.og_image}
  path={blogEntryPath(entry)}
>
  <article class="blog-article">
    <h1>{entry.data.title}</h1>
    <h4>{prettyDate(entry.data.pubDate)}</h4>
    <hr />

    {
      entry.data.og_image ? (
        <Image
          style={`view-transition-name: ${blogEntryTransitionName(entry)};`}
          src={entry.data.og_image}
          alt="Blog post social card"
          style="margin: auto; display: block; max-height: 630px;"
        />
      ) : undefined
    }
    <Content />

    <p>
      <em>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://bsky.app/profile/nmattia.bsky.social">Let me know</a
        ></em
      >
      {
        discussion ? (
          <>
            or
            { /* prettier-ignore */ }
            <em>
              <a target="_blank" rel="noopener noreferrer" href={discussion}>join the discussion</a></em>
          </>
        ) : undefined
      }
      if you enjoyed this article! You can also <a
        href="https://buttondown.com/nmattia">subscribe</a
      > to receive updates.
    </p>

    <hr />

    {
      suggestedTopics?.length > 0 && suggestedEntries.length > 0 ? (
        <>
          <p>Here's more on the topic of {suggestedTopics}:</p>
          <ul>
            {suggestedEntries.map((e) => (
              <li>
                <a href={blogEntryPath(e)}> {e.data.title}</a>
              </li>
            ))}
          </ul>
        </>
      ) : undefined
    }
  </article>
</Default>
