---
// Index page, with a list of entries

import Default from "../components/Default.astro";

import {
  blogPostTeaser,
  getBlogEntries,
  blogEntryPath,
  blogEntryTransitionName,
} from "../blog";
import { getCollection } from "astro:content";

// Common type of entries displayed on the front page
type Entry = {
  title: string;
  teaser: Promise<string>;
  target: "_self" | "_blank";
  image: string;
  link: string;
  date: Date;
  transitionName?: string;
};

// Blog entries
const blogEntries: Entry[] = (await getBlogEntries()).map((blogEntry) => ({
  title: blogEntry.data.title,
  teaser: blogPostTeaser(blogEntry),
  target: "_self",
  image: blogEntry.data.og_image,
  link: blogEntryPath(blogEntry),
  date: blogEntry.data.pubDate,
  transitionName: blogEntryTransitionName(blogEntry),
}));

// "Projects"
const projectsEntries: Entry[] = (
  await getCollection("projects", () => true)
).map((projectsEntry) => ({
  title: projectsEntry.data.title,
  teaser: Promise.resolve(projectsEntry.data.teaser),
  target: "_blank",
  image: projectsEntry.data.image,
  link: projectsEntry.data.link,
  date: projectsEntry.data.pubDate,
}));

const entries = blogEntries.concat(projectsEntries);
entries.sort((a, b) => b.date.getTime() - a.date.getTime());

const description =
  "Software Engineer based in Zurich who has a thing for functional programming, reproducible builds and infrastructure as code";
---

<Default ogType="website" description={description} path="/">
  <div class="intro">
    <p>I'm Nicolas, Software Engineer based in Zurich.</p><p>
      Here you'll find some articles, videos and projects related to what I
      like: build systems, functional programming, making web apps, and more.
    </p>
  </div>

  <hr class="intro-divider" />

  <div class="blog" id="blog">
    <div class="blog-container">
      {
        entries.map((entry) => (
          <a
            target={entry.target}
            href={entry.link}
            style="text-decoration: none;"
            data-astro-prefetch={
              "viewport" /* prefetch target when link enters viewport */
            }
          >
            <div class="card">
              <div class="card-container">
                <img
                  style={
                    entry.transitionName
                      ? `view-transition-name: ${entry.transitionName};`
                      : undefined
                  }
                  src={entry.image}
                  style="margin: auto; display: block; max-height: 630px;"
                />
                <h3>{entry.title}</h3>
                <div class="teaser">
                  <p set:html={entry.teaser} />
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Default>
