---
// Default component wrapping all pages

import Head from "./Head.astro";
import GitHubIcon from "./GitHubIcon.astro";
import PrintablesIcon from "./PrintablesIcon.astro";
import MailIcon from "./MailIcon.astro";
import TwitterIcon from "./TwitterIcon.astro";

type Props = Parameters<typeof Head>[0];

const {
  title = undefined,
  ogType,
  description,
  og_image,
  path,
}: Props = Astro.props;
---

<!--?xml version="1.0" encoding="UTF-8"?--><!doctype html>
<html lang="en">
  <Head
    title={title}
    ogType={ogType}
    description={description}
    og_image={og_image}
    path={path}
  />

  <body>
    <div class="header">
      <div class="nav">
        <span class="links">
          <a href="/">Nicolas Mattia</a>
        </span>
        <span class="social">
          <a
            href="https://www.github.com/nmattia"
            target="_blank"
            rel="noopener noreferrer"
          >
            <GitHubIcon />
          </a>
          <a
            href="https://x.com/nasmattia"
            target="_blank"
            rel="noopener noreferrer"><TwitterIcon /></a
          >
          <a
            href="https://www.printables.com/@nmattia"
            target="_blank"
            rel="noopener noreferrer"><PrintablesIcon /></a
          >
          <a
            href="mailto:nicolas@nmattia.com"
            target="_blank"
            rel="noopener noreferrer"><MailIcon /></a
          >
        </span>
      </div>
    </div>
    <hr class="header-divider" />
    <div class="content">
      <slot />
    </div>
    <footer>
      <a href="https://nmattia.com" target="_blank" rel="noopener noreferrer"
        >&copy; Nicolas Mattia 2025</a
      >
    </footer>
  </body>
</html>
