---
// Default component wrapping all pages

import Head from "./Head.astro";
import GitHubIcon from "./GitHubIcon.astro";
import PrintablesIcon from "./PrintablesIcon.astro";
import MailIcon from "./MailIcon.astro";
import BlueSkyIcon from "./BlueSkyIcon.astro";

type Props = Parameters<typeof Head>[0];

const {
  title = undefined,
  ogType,
  description,
  og_image,
  path,
}: Props = Astro.props;
---

<!--?xml version="1.0" encoding="UTF-8"?--><!doctype html>
<html lang="en">
  <Head
    title={title}
    ogType={ogType}
    description={description}
    og_image={og_image}
    path={path}
  />

  <body>
    <svg style="display: none;"
      ><symbol id="clipboard-copy">
        <path
          fill-rule="evenodd"
          d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"
        ></path><path
          fill-rule="evenodd"
          d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"
        ></path></symbol
      >
    </svg>
    <div class="header">
      <div class="nav">
        <span class="links">
          <a href="/">Nicolas Mattia</a>
        </span>
        <span class="social">
          <a
            href="https://www.github.com/nmattia"
            target="_blank"
            rel="noopener noreferrer"
          >
            <GitHubIcon />
          </a>
          <a
            href="https://bsky.app/profile/nmattia.bsky.social"
            target="_blank"
            rel="noopener noreferrer"><BlueSkyIcon /></a
          >
          <a
            href="https://www.printables.com/@nmattia"
            target="_blank"
            rel="noopener noreferrer"><PrintablesIcon /></a
          >
          <a
            href="mailto:nicolas@nmattia.com"
            target="_blank"
            rel="noopener noreferrer"><MailIcon /></a
          >
        </span>
      </div>
    </div>
    <hr class="header-divider" />
    <div class="content">
      <slot />
    </div>
    <footer>
      <a href="https://nmattia.com" target="_blank" rel="noopener noreferrer"
        >&copy; Nicolas Mattia 2025</a
      >
    </footer>
  </body>
</html>
<script>
  // inspired by https://timneubauer.dev/blog/copy-code-button-in-astro/
  const pres = document.querySelectorAll("pre.astro-code");
  pres.forEach((pre) => {
    if (!(pre instanceof HTMLElement)) {
      return;
    }
    const wrapper = document.createElement("div");
    wrapper.classList.add("code-wrapper");

    /* insert the wrapper around the pre */
    pre.parentElement?.insertBefore(wrapper, pre);
    wrapper.append(pre);

    const button = document.createElement("button");
    button.classList.add("clipboard-copy");

    const svgNS = "http://www.w3.org/2000/svg";

    // Create the <svg> element
    const svg = document.createElementNS(svgNS, "svg");
    svg.setAttribute("aria-hidden", "true");
    svg.setAttribute("height", "16");
    svg.setAttribute("viewBox", "0 0 16 16");
    svg.setAttribute("version", "1.1");
    svg.setAttribute("width", "16");

    // Re-use the top-level defined clipboard copy icon
    const use = document.createElementNS(svgNS, "use");
    use.setAttributeNS(
      "http://www.w3.org/1999/xlink",
      "href",
      "#clipboard-copy",
    );

    // Append <use> into <svg>
    svg.appendChild(use);

    button.append(svg);

    wrapper.append(button);
    button.onclick = () => navigator.clipboard.writeText(pre.innerText);
  });
</script>
